main {
  max-width: 840px;
  margin: 0 auto;
}

aside img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

main img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
  padding-top: 10px;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: 1rem auto;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  border-radius: 8px;
}
